<a href="https://colab.research.google.com/github/helennzhangg/python-basics/blob/main/Project2_Pt_A_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Helen Zhang 
#CIS 3120 
#Project 2 Part 1

In [ ]:
#PROGRAM 1

In [ ]:
print('This is the first output of my first program, Helen Zhang')

This is the first output of my first program, Helen Zhang

In [ ]:
import math
#create empty list for x values 
x_values = []
y_values = []

#generate a range of values for x from -3 to 4.0 in increments of 0.5 
x = 4.0

while x >= -3:

  x_values.append(x)

  #seperating the numerator and denominator of the function 
  numerator = 4 * x**3 - 12 * x**2 - 9 * x + 27
  #print(f' x = {x} ; y = {numerator}')
  denominator = math.sqrt(5 * x**2 + 2) + 3 * abs(x - 2.5)
  #print(f' x = {x} ; y = {denominator}')

  y = numerator / denominator
  y_values.append(y)
  #print(f' x = {x} ; y = {y}')

  if y == 0:
    print(f' x = {x} ; y = {y} ; Y IS ZERO')
  elif y >0:
    print(f' x = {x} ; y = {y} ; Y IS POSITIVE')
  else:
    print(f' x = {x} ; y = {y} ; Y IS NEGATIVE')

  x = x - 0.5

 x = 4.0 ; y = 4.057428058260047 ; Y IS POSITIVE
 x = 3.5 ; y = 1.8259859392786852 ; Y IS POSITIVE
 x = 3.0 ; y = 0.0 ; Y IS ZERO
 x = 2.5 ; y = -1.387375951238592 ; Y IS NEGATIVE
 x = 2.0 ; y = -1.1307802693045066 ; Y IS NEGATIVE
 x = 1.5 ; y = 0.0 ; Y IS ZERO
 x = 1.0 ; y = 1.399432972781441 ; Y IS POSITIVE
 x = 0.5 ; y = 2.563190450240003 ; Y IS POSITIVE
 x = 0.0 ; y = 3.0288706694179983 ; Y IS POSITIVE
 x = -0.5 ; y = 2.5919264584373525 ; Y IS POSITIVE
 x = -1.0 ; y = 1.5214041043942683 ; Y IS POSITIVE
 x = -1.5 ; y = 0.0 ; Y IS ZERO
 x = -2.0 ; y = -1.9240901616610293 ; Y IS NEGATIVE
 x = -2.5 ; y = -4.2376388309490745 ; Y IS NEGATIVE
 x = -3.0 ; y = -6.9362217746283275 ; Y IS NEGATIVE

In [ ]:
print('Program #1 is complete')

Program #1 is complete

In [ ]:
#PROGRAM 2

In [ ]:
print('This is the first output of my second program, Helen Zhang')

This is the first output of my second program, Helen Zhang

In [ ]:
#step 1
#creating a list of teams, wins, losses, ties
id = [9867, 1234, 6213, 1231, 8821, 1131, 7761, 6831, 3131, 3132, 8424, 4211]
wins = [4,7,9,12,2,8,10,0,16,0,0,4]
losses = [2,5,7,2,7,0,3,16,0,0,0,4]
ties = [3,2,0,2,7,8,3,0,0,16,0,4]

#printing the data 
#code reference: https://www.geeksforgeeks.org/print-lists-in-python-4-different-ways/
for x in range(len(id)):
  idinprint = id[x]
  winsinprint = wins[x]
  lossesinprint = losses[x]
  tiesinprint = ties[x]
  print(f'THIS IS A COMPLETE SET OF OUTPUT FOR TEAM {idinprint}:')
  print(f'{winsinprint} wins    {lossesinprint} losses    {tiesinprint} ties')
#step 2
#creating formulas to add wins and losses
  totalgames = winsinprint + lossesinprint + tiesinprint
  #combinedlist = zip(wins,losses)
  #totalgames = [x + y for (x,y) in combinedlist]
  remaininggames = 16 - totalgames 
  print(f'total games played is {totalgames}          {remaininggames} games still remaining')

#step 3
#calculating winning average
  averagewinnings = winsinprint / totalgames if totalgames != 0 else 0
  rounded = round(averagewinnings, 4)
  print(f'the winning average is {rounded}')
#step 4
#compare the number of games tied to number of games won
  if tiesinprint <= winsinprint:
    print(f'number of tied games is not greater than or equal to number won')
  elif tiesinprint >= winsinprint:
    print(f'number of tied games is greater than or equal to number won')
  if tiesinprint > lossesinprint:
    print(f'number of tied games is greater than number lost')
  elif tiesinprint < lossesinprint:
    print(f'number of tied games is not greater than number lost')
#step 5
  wiptotal = winsinprint + tiesinprint - (3 * lossesinprint)
  print(f'the wip total is {wiptotal}')

  print('')
  print('')
  
totalteams = len(id)
print(f'there are {totalteams} teams in total')

THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 9867:
4 wins    2 losses    3 ties
total games played is 9          7 games still remaining
the winning average is 0.4444
number of tied games is not greater than or equal to number won
number of tied games is greater than number lost
the wip total is 1


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 1234:
7 wins    5 losses    2 ties
total games played is 14          2 games still remaining
the winning average is 0.5
number of tied games is not greater than or equal to number won
number of tied games is not greater than number lost
the wip total is -6


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 6213:
9 wins    7 losses    0 ties
total games played is 16          0 games still remaining
the winning average is 0.5625
number of tied games is not greater than or equal to number won
number of tied games is not greater than number lost
the wip total is -12


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 1231:
12 wins    2 losses    2 ties
total games played is 16          0 games still remaining
the winning average is 0.75
number of tied games is not greater than or equal to number won
the wip total is 8


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 8821:
2 wins    7 losses    7 ties
total games played is 16          0 games still remaining
the winning average is 0.125
number of tied games is greater than or equal to number won
the wip total is -12


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 1131:
8 wins    0 losses    8 ties
total games played is 16          0 games still remaining
the winning average is 0.5
number of tied games is not greater than or equal to number won
number of tied games is greater than number lost
the wip total is 16


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 7761:
10 wins    3 losses    3 ties
total games played is 16          0 games still remaining
the winning average is 0.625
number of tied games is not greater than or equal to number won
the wip total is 4


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 6831:
0 wins    16 losses    0 ties
total games played is 16          0 games still remaining
the winning average is 0.0
number of tied games is not greater than or equal to number won
number of tied games is not greater than number lost
the wip total is -48


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 3131:
16 wins    0 losses    0 ties
total games played is 16          0 games still remaining
the winning average is 1.0
number of tied games is not greater than or equal to number won
the wip total is 16


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 3132:
0 wins    0 losses    16 ties
total games played is 16          0 games still remaining
the winning average is 0.0
number of tied games is greater than or equal to number won
number of tied games is greater than number lost
the wip total is 16


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 8424:
0 wins    0 losses    0 ties
total games played is 0          16 games still remaining
the winning average is 0
number of tied games is not greater than or equal to number won
the wip total is 0


THIS IS A COMPLETE SET OF OUTPUT FOR TEAM 4211:
4 wins    4 losses    4 ties
total games played is 12          4 games still remaining
the winning average is 0.3333
number of tied games is not greater than or equal to number won
the wip total is -4


there are 12 teams in total

In [ ]:
#PROGRAM 3

In [ ]:
def introduction():
  #printing the introduction. I did several print statements so the user can clearly see the introduction 
  print('This is the first output of my third program, Helen Zhang')
  print('')
  print('this function will ask the user to call 3 numbers. With those 3 numbers, this program will find the average and compare each')
  print('input number into the average. This program will run 10 times so user will have to enter 3 numbers 10 times. Finally, the function')
  print('will end when the function returns to the main function.')
  print('')
  print('')

In [ ]:
def findaverage(b,c,d):
  #this function will find the average of the three input numbers using the sum and then the number of inputs 
  return sum([b,c,d]) / len([b,c,d])

In [ ]:
def comparetoavg(b,c,d,z):
  #used to find out how many of the three input numbers are equal to average 
  total = 0

  #using if statements to compare the numbers to the average 
  for x in [b,c,d]:
    if x == z:
      print(f'{x} is equal to average')
      total += 1
    elif x > z:
      print(f'{x} is above the average')
    else:
      print(f'{x} is below the average')
  print(f'{total} values equal to the average')

  print()
  print()

In [ ]:
def main():
  introduction()
  
  for multi in range(10):
    #user will input numbers which will be parameters for the functions 
    num1 = int(input('Enter num1  '))
    num2 = int(input('Enter num2: '))
    num3 = int(input('Enter num3: '))

    print(f'The original 3 integers are {num1}, {num2}, {num3}')

    avg = findaverage(num1,num2,num3)
    print(f'The average is {avg}')

    compare = comparetoavg(num1,num2,num3, avg)
    #conclude the code, this program ran 10 times like instructed in the introduction

main()
print('this program ran 10 times')

This is the first output of my third program, Helen Zhang

this function will ask the user to call 3 numbers. With those 3 numbers, this program will find the average and compare each
input number into the average. This program will run 10 times so user will have to enter 3 numbers 10 times. Finally, the function
will end when the function returns to the main function.


Enter num1  4
Enter num2: 5
Enter num3: 6
The original 3 integers are 4, 5, 6
The average is 5.0
4 is below the average
5 is equal to average
6 is above the average
1 values equal to the average


Enter num1  6
Enter num2: 7
Enter num3: 8
The original 3 integers are 6, 7, 8
The average is 7.0
6 is below the average
7 is equal to average
8 is above the average
1 values equal to the average


Enter num1  9
Enter num2: 0
Enter num3: 1
The original 3 integers are 9, 0, 1
The average is 3.3333333333333335
9 is above the average
0 is below the average
1 is below the average
0 values equal to the average


Enter num1  2
Enter num2: 3
Enter num3: 4
The original 3 integers are 2, 3, 4
The average is 3.0
2 is below the average
3 is equal to average
4 is above the average
1 values equal to the average


Enter num1  5
Enter num2: 6
Enter num3: 7
The original 3 integers are 5, 6, 7
The average is 6.0
5 is below the average
6 is equal to average
7 is above the average
1 values equal to the average


Enter num1  3
Enter num2: 3
Enter num3: 3
The original 3 integers are 3, 3, 3
The average is 3.0
3 is equal to average
3 is equal to average
3 is equal to average
3 values equal to the average


Enter num1  4
Enter num2: 4
Enter num3: 5
The original 3 integers are 4, 4, 5
The average is 4.333333333333333
4 is below the average
4 is below the average
5 is above the average
0 values equal to the average


Enter num1  3
Enter num2: 4
Enter num3: 2
The original 3 integers are 3, 4, 2
The average is 3.0
3 is equal to average
4 is above the average
2 is below the average
1 values equal to the average


Enter num1  3
Enter num2: 4
Enter num3: 5
The original 3 integers are 3, 4, 5
The average is 4.0
3 is below the average
4 is equal to average
5 is above the average
1 values equal to the average


Enter num1  3
Enter num2: 1
Enter num3: 2
The original 3 integers are 3, 1, 2
The average is 2.0
3 is above the average
1 is below the average
2 is equal to average
1 values equal to the average


this program ran 10 times

In [ ]:
#PROGRAM 4

In [ ]:
def introduction():
  #printing the introduction. I did several print statements so the user can clearly see the introduction 
  print('This is the first output of my fourth program, Helen Zhang')
  print('')
  print('the program will determine if the three scores given are valid. if the scores are valid, the main function will')
  print('call other functions to classify the scores in various ways. The program will compare the scores to each other and round the ')
  print('score to the nearest 10')
  print('')
  print('')

In [ ]:
def aretheyvalid(scores,a,b,c):
  #print the test number and scores
  print(f'{scores} : {a,b,c}')
  x = [a,b,c]
  #iterate through the loop to show invalid scores to user
  #using boolean variables to indicate true + false for the main function
  for value in x:
    if value < 0:
      print('invalid set of scores because score is too low')
      print('')
      print('')
      return False
    elif value > 100:
      print('invalid set of scores because score is too high')
      print('')
      print('')
      return False
    else:
      print('this is a valid set of scores')
      return True

In [ ]:
def aretheythesame(a,b,c):
  #value a = value b = value c would indicate all values are similar 
  if a == b and b == c: 
    print('all three numbers are the same')
  else: 
    print('all three numbers are different')
  #two values have to be the same and one value is different (greater or less than)
  if (a == b and c > a) or (a == c and b > a) or (b == c and a > b):
    print('two numbers are the same and the third is larger')
  if (a == b and c < a) or (a == c and b < a) or (b == c and a < b):
    print('two numbers are the same and the third is smaller')

In [ ]:
def roundscore(a,b,c):
  #rounding all scores to the nearest 10
  for value in ([a,b,c]):
    rounded = round(value / 10) * 10
    print(f'the rounded number for {value} is {rounded}')
  #giving space after each list of tests are output
  print()
  print()

In [ ]:
#import pandas library because I am using a csv file
import pandas as pd 
def main():
  introduction()
  #upload cvs file attached to this project labeled "Program 4 Scores.csv"
  df = pd.read_csv('/content/Program 4 Scores.csv', header=None)
  #incidating all the columns that go with the rows
  for index, rows in df.iterrows():
    scores = rows.to_list()

    scorenumber = scores[0]

    score1 = scores[1]

    score2 = scores[2]

    score3 = scores[3]
    
  #call the function and pass the scores
    result = aretheyvalid(scorenumber, score1, score2,score3)
    #if scores are not valid, the other two functions will not pass 
    if result:
      aretheythesame(score1, score2,score3)
      roundscore(score1, score2, score3)


main()

This is the first output of my fourth program, Helen Zhang

the program will determine if the three scores given are valid. if the scores are valid, the main function will
call other functions to classify the scores in various ways. The program will compare the scores to each other and round the
score to the nearest 10


Test 1 : (75, 50, 77)
this is a valid set of scores
all three numbers are different
the rounded number for 75 is 80
the rounded number for 50 is 50
the rounded number for 77 is 80


Test 2 : (85, 98, 88)
this is a valid set of scores
all three numbers are different
the rounded number for 85 is 80
the rounded number for 98 is 100
the rounded number for 88 is 90


Test 3 : (36, 76, 99)
this is a valid set of scores
all three numbers are different
the rounded number for 36 is 40
the rounded number for 76 is 80
the rounded number for 99 is 100


Test 4 : (78, 79, 100)
this is a valid set of scores
all three numbers are different
the rounded number for 78 is 80
the rounded number for 79 is 80
the rounded number for 100 is 100


Test 5 : (45, 88, 56)
this is a valid set of scores
all three numbers are different
the rounded number for 45 is 40
the rounded number for 88 is 90
the rounded number for 56 is 60


Test 6 : (-2, 110, 78)
invalid set of scores because score is too low


Test 7 : (56, 45, 45)
this is a valid set of scores
all three numbers are different
two numbers are the same and the third is larger
the rounded number for 56 is 60
the rounded number for 45 is 40
the rounded number for 45 is 40


Test 8 : (-84, 110, 76)
invalid set of scores because score is too low


Test 9 : (6, 100, 17)
this is a valid set of scores
all three numbers are different
the rounded number for 6 is 10
the rounded number for 100 is 100
the rounded number for 17 is 20


Test 10 : (45, 95, 76)
this is a valid set of scores
all three numbers are different
the rounded number for 45 is 40
the rounded number for 95 is 100
the rounded number for 76 is 80


Test 11 : (98, 67, 86)
this is a valid set of scores
all three numbers are different
the rounded number for 98 is 100
the rounded number for 67 is 70
the rounded number for 86 is 90


Test 12 : (67, 87, 76)
this is a valid set of scores
all three numbers are different
the rounded number for 67 is 70
the rounded number for 87 is 90
the rounded number for 76 is 80


Test 13 : (100, 0, 45)
this is a valid set of scores
all three numbers are different
the rounded number for 100 is 100
the rounded number for 0 is 0
the rounded number for 45 is 40


Test 14 : (37, 67, 86)
this is a valid set of scores
all three numbers are different
the rounded number for 37 is 40
the rounded number for 67 is 70
the rounded number for 86 is 90


Test 15 : (87, 80, 82)
this is a valid set of scores
all three numbers are different
the rounded number for 87 is 90
the rounded number for 80 is 80
the rounded number for 82 is 80


Test 16 : (115, 81, 97)
invalid set of scores because score is too high


Test 17 : (67, 82, 93)
this is a valid set of scores
all three numbers are different
the rounded number for 67 is 70
the rounded number for 82 is 80
the rounded number for 93 is 90


Test 18 : (34, 83, 100)
this is a valid set of scores
all three numbers are different
the rounded number for 34 is 30
the rounded number for 83 is 80
the rounded number for 100 is 100


Test 19 : (43, 76, 70)
this is a valid set of scores
all three numbers are different
the rounded number for 43 is 40
the rounded number for 76 is 80
the rounded number for 70 is 70


Test 20 : (67, 45, 0)
this is a valid set of scores
all three numbers are different
the rounded number for 67 is 70
the rounded number for 45 is 40
the rounded number for 0 is 0

In [ ]:
#PROGRAM 5

In [ ]:
def introduction():
  print('This is the first output of my fifth program, Helen Zhang')

In [ ]:
#what parameters should be set?
def readorigionaldate():
  dates = ['10/14/15', '12/20/01', '1/7/23', '4/23/01', '5/18/02', '12/5/20', '7/23/06', '5/30/19', '9/6/18', '4/21/17'] 
  return dates

In [ ]:
def breakoriginaldate(date):
  for values in date:
    #print(f'{values} is the original date')
    sep = values.split('/')
    month = sep[0]
    day = sep[1]
    year = sep[2]
    #print(f'the month is {month}    the day is {day}    the year is {year}')
  return month, day, year

In [ ]:
def printdate3ways(dates, month, day, year):
  for values in dates: 
    print(f'{values} is the origional date')
    sep = values.split('/')
    month = sep[0]
    day = sep[1]
    year = sep[2]
    print(f'the month is {month}    the day is {day}    the year is {year}')
    euro = f'{month} - {day} - {year}'

    months = {    '1' : 'January',
                  '2' : 'Feb',
                  '3' : 'Mar',
                  '4' : 'April',
                  '5' : 'May',
                  '6' : 'June',
                  '7' : 'July',
                  '8' : 'Aug',
                  '9' : 'Sept',
                  '10' : 'Oct',
                  '11' : 'Nov',
                  '12' : 'Dec'
                  }
    american = f'{months[month]} {day}, 20{year}'

    if len(month) < 2:
      full = f'0{month} - {day} - 20{year}'
    else:
      full = f'{month} - {day} - 20{year}'

    print(f'{euro} is the European way of printing')
    print(f'{american} is the American way of printing')
    print(f'{full} is the full way of printing')

    print()
    print()

In [ ]:
def main():
  introduction()
  dates = readorigionaldate()
  m,d,y = breakoriginaldate(dates)
  printdate3ways(dates, m,d,y)
main()

This is the first output of my fifth program, Helen Zhang
10/14/15 is the origional date
the month is 10    the day is 14    the year is 15
10 - 14 - 15 is the European way of printing
Oct 14, 2015 is the American way of printing
10 - 14 - 2015 is the full way of printing


12/20/01 is the origional date
the month is 12    the day is 20    the year is 01
12 - 20 - 01 is the European way of printing
Dec 20, 2001 is the American way of printing
12 - 20 - 2001 is the full way of printing


1/7/23 is the origional date
the month is 1    the day is 7    the year is 23
1 - 7 - 23 is the European way of printing
January 7, 2023 is the American way of printing
01 - 7 - 2023 is the full way of printing


4/23/01 is the origional date
the month is 4    the day is 23    the year is 01
4 - 23 - 01 is the European way of printing
April 23, 2001 is the American way of printing
04 - 23 - 2001 is the full way of printing


5/18/02 is the origional date
the month is 5    the day is 18    the year is 02
5 - 18 - 02 is the European way of printing
May 18, 2002 is the American way of printing
05 - 18 - 2002 is the full way of printing


12/5/20 is the origional date
the month is 12    the day is 5    the year is 20
12 - 5 - 20 is the European way of printing
Dec 5, 2020 is the American way of printing
12 - 5 - 2020 is the full way of printing


7/23/06 is the origional date
the month is 7    the day is 23    the year is 06
7 - 23 - 06 is the European way of printing
July 23, 2006 is the American way of printing
07 - 23 - 2006 is the full way of printing


5/30/19 is the origional date
the month is 5    the day is 30    the year is 19
5 - 30 - 19 is the European way of printing
May 30, 2019 is the American way of printing
05 - 30 - 2019 is the full way of printing


9/6/18 is the origional date
the month is 9    the day is 6    the year is 18
9 - 6 - 18 is the European way of printing
Sept 6, 2018 is the American way of printing
09 - 6 - 2018 is the full way of printing


4/21/17 is the origional date
the month is 4    the day is 21    the year is 17
4 - 21 - 17 is the European way of printing
April 21, 2017 is the American way of printing
04 - 21 - 2017 is the full way of printing